.similar-item-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.similar-img {
  height: 200px;
  width: 200px;
}
.similar-heading {
  font-size: 14px;
  flex-wrap: wrap;
}
.price-container {
  display: flex;
  justify-content: space-between;
}
.rating-container {
  display: flex;
}
